* {
    box-sizing: border-box;
  }

$couleur_bleu_fonce: #023047;
$couleur_bleu_pale: #8ecae6;
$couleur_bleu_moyen: #219ebc;
$couleur_jaune: #ffb703;
$couleur_orange: #fb8500;

body {
    background-image: url(../images/fond-ciel.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $couleur_bleu_fonce;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    margin: 0px;
}

[v-cloak] {
    display: none !important;
}

h1 {

    animation-name: titre;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    color: linear-gradient(45deg, $couleur_bleu_fonce , $couleur_bleu_moyen, $couleur_jaune );

    box-shadow: 3px 3px 30px rgb(245, 234, 199);
    font-weight: bold;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
}

h2, h3, h4, p {
    margin: 5px 0px;
}

//Visuel de l'encadré des deux pages
.formulaire {
    background-color: rgba($couleur_bleu_pale, .6);
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 30px rgb(245, 234, 199);
    margin: 100px auto;
    padding: 30px;

    h2 {
        text-align: center;
    }
}

//Visuel du formulaire de la page d'accueil
.ville {
    min-width: 250px;
    max-width: 400px;
    width: 80vw;

    input {
        border-top: 1px solid $couleur_bleu_fonce;
        border-left: 1px solid $couleur_bleu_fonce;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        border-radius: 3px;
        box-shadow: inset 3px 3px 8px $couleur_bleu_fonce;
        text-align: center;
        margin: 10px auto;
        padding: 10px 0px;
        width: 100%;
    }

    input[type=submit] {
        background-color: $couleur_bleu_moyen;
        color: white;
        transition: all .3s;
    }

    input[type=submit]:hover {
        background-color: $couleur_bleu_fonce;
    }
}


//Visuel de la page de Météo (page 2)
.temperature {
    min-width: 300px;
    max-width: 500px;
    width: 80vw;
    
    .bouton-retour {
        background-color: $couleur_bleu_moyen;
        color: white;
        transition: all .3s;
        border: 2px solid $couleur_bleu_fonce;
        border-radius: 3px;
        height: 30px;
    }

    .bouton-retour:hover {
        background-color: $couleur_bleu_fonce;
    }

    .infos-temperature-haut, .infos-temperature-bas {
        margin: 30px auto;
        text-align: center;

        span {
            font-weight: bold;
        }
        .temp-celsius {
            font-size: 30px;
        }
    }

}


// animation de couleur sur titre
@keyframes titre {
    0% {
        text-shadow: 1px 1px 3px $couleur_bleu_pale;
        color: $couleur_bleu_fonce
    }

    25% {
        text-shadow: 1px 1px 3px $couleur_bleu_fonce;
        color: $couleur_bleu_moyen
    }

    50% {
        text-shadow: 1px 1px 3px $couleur_bleu_fonce;
        color: $couleur_bleu_pale
    }

    75% {
        text-shadow: 1px 1px 3px $couleur_bleu_fonce;
        color: $couleur_bleu_moyen
    }

    100% {
        text-shadow: 1px 1px 3px $couleur_bleu_pale;
        color: $couleur_bleu_fonce
    }
}

